@page
@model LoginModel

<h1>@ViewData["Title"]</h1>
<div class="row">
	<center>
	<div class="col-md-4">		
        <section>          
            <form id="account" method="post">
                <h2>Влез в своя акаунт.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.userName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                    <label asp-for="Input.userName" class="form-label">Потребителско име</label>
                    <span asp-validation-for="Input.userName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark">Вход</button>
                </div>
                <div>
             </form>
			</section>		
    </div>
	</center>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
