@model Ciel.Models.Catalog

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтрий</h1>

<h3>Сигурни ли сте, че искате да изтриете каталога?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatalogName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> 
        <a class="btn btn-outline-info" asp-action="Index"><i></i>Назад</a>
    </form>
</div>
