<!DOCTYPE html>
<html lang="en">

<!-- Navbar End -->
<!-- Page Header Start -->
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">ЗА CIEL-COSMETICS</h1>
        <div class="d-inline-flex">
            <h3 class="m-0">Твоята кожа. Нашата грижа.</h3>
		</div>
	</div>
<center>
    <img src="~/images/About1.jpg" alt="width=" 756" height="504">
    <img src="~/images/About2.jpg" alt="width=" 756" height="504">
    <img src="~/images/About3.jpg" alt="width=" 756" height="504">
</center>

</html>
