<!DOCTYPE html>
<html lang="en">
    <head>
    <style>
        .custom-font {
            font-family: 'Georgia'; 
        }
    </style>
    </head>
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3 custom-font">ЗА CIEL-COSMETICS</h1>
        <div class="d-inline-flex">
        <h3 class="m-0 custom-font">Твоята кожа. Нашата грижа.</h3>
		</div>
	</div>
<center>
    <img src="~/images/About1.jpg" alt="width=" 300" height="370">
    <img src="~/images/About3.jpg" alt="width=" 300" height="370">
	<img src="~/images/About4.jpg" alt="width=" 300" height="370">
    <img src="~/images/About2.jpg" alt="width=" 300" height="370">
</center>

<div class="container p-5 my-5 border custom-font">
	<section>
    <center>
		<h2>Нашата мисия</h2>
        <hr>
	</center>
    <p class="v1p1" dir="auto"><span class="v1s1" style="color: black;">Ние сме екип от страстни професионалисти в областта на козметиката, които се стремят да предложат на нашите клиенти най-добрите продукти за грижа за лицето. </span></p>
    <p class="v1p1"><span class="v1s1" style="color: black;">Нашият стремеж е да предоставим на клиентите ни продукти, които не само подхранват и подмладяват кожата, но и подчертават тяхната естетика и увереност. </span></p>
    <p class="v1p1"><span class="v1s1" style="color: black;">Вярваме, че красотата и здравето на кожата са от изключително значение и затова се стремим да предоставяме само най-доброто.</span></p>

    <center>
    <h2>Експертиза и качество</h2>
    <hr>
    </center>
    <p class="v1p1" dir="auto"><span class="v1s1" style="color: black;">Ние сме горди от нашата експертиза в областта на козметиката.</span></p>
    <p class="v1p1"><span class="v1s1" style="color: black;">Нашите продукти са разработени с изключително внимание към детайлите и съдържат само най-висококачествени съставки.</span></p>
    <p class="v1p1"><span class="v1s1" style="color: black;">Всеки продукт е тестван и одобрен от нашите експерти, за да гарантираме неговата ефективност и безопасност.</span></p>


    <center>
        <h2>Нашите ценности</h2>
                <hr>
    </center>
    <p class="v1p1" dir="auto"><span class="v1s1" style="color: black;">При "Ciel-cosmetics" вярваме в етичното производство, справедливите търговски практики и устойчивото развитие.</span></p>
    <p class="v1p1"><span class="v1s1" style="color: black;">Нашата цел е да създадем продукти, които не само ви правят красиви, но и допринасят за доброто на планетата и обществото като цяло.</span></p>
</section>

<center>
    <h9>
        <div dir="auto"  color: black;">Благодарим ви!</div>
        <div dir="auto" color: black;">Ciel-cosmetics</div>
    </h9>
	</center>
</div>
</div>

</html>

